{% extends "logAnalyze/base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" /> <!-- ← 追加 -->
  </head>
  <body>
    {% block content %}
    <form action="" method="post">
      {% csrf_token %}
      {% bootstrap_form hornetForm layout='inline' %}
      <button type="submit" class="btn btn-primary">送信</button>
    </form>
      <table border="1" class="table table-striped">
        <thead>
          <tr>
            <th>url</th>
            <th>status</th>
          </tr>
        </thead>
        <tbody>
          {% for log in logs %}
            <tr>
              <td>{{ log.url }}</td>
              <td>{{ log.status }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endblock content %}
  </body>


